h2, h3{

    margin-top: 20px;
    display: inline-block;
    position: mx-auto;
    font-family: Amatic SC;

}

.btn:hover{

    transform: scale(1.08);
    transition-duration: 0.8s;

}

.clearSession{

    position: absolute;
    right: 0;


}